<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        pariatur officiis ipsam suscipit impedit asperiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        pariatur officiis ipsam suscipit impedit asperiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        pariatur officiis ipsam suscipit impedit asperiores!
      </p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
